.sectionMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.titleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 10px;
  max-width: calc(100vw - 48px);
  padding: 0;
}

.moviesItem {
  margin-bottom: 20px;
  padding: 5px;
}

.posterImage {
  width: 250px;
  height: auto;
}