.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    color: #f92056;
    border: 1px solid #3A374C;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    transition: .3s linear;
    background-color: #ffffff;
}
.button:before, .button:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}
.button:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #f92056;
    border-top: 1px solid #f92056;
}
.button:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #f92056;
    border-right: 1px solid #f92056;
}

.searchInput {
    padding: 5px 15px;
    width: 250px;
}